/train_metrics.json
/train_metrics_rf.json
/train_metrics_gbr.json
/train_metrics_all.json
/val_metrics.json
/val_metrics_rf.json
/val_metrics_gbr.json
/val_predictions.csv
/val_predictions_rf.csv
/val_predictions_gbr.csv
/plots
